<ion-view view-title="{{ s.currentInnings.battingTeam.name }} {{ s.currentInnings.runs }}-{{ s.currentInnings.wickets }}, {{ s.currentInnings.overs }}.{{ s.currentInnings.balls }} overs">
  <ion-content>
    <div class="list">
      <div class="item item-divider text-center">
        v {{ s.currentInnings.bowlingTeam.name }} (yet to bat)
      </div>
      <div class="item item-text-wrap text-center match-equation">
        {{ s.matchEquation }}
      </div>
    </div>
    <div class="list">
      <div class="row bat-header item-divider">
        <div class="col col-33">Bat</div>
        <div class="col text-center">Runs</div>
        <div class="col text-center col-10">4s</div>
        <div class="col text-center col-10">6s</div>
        <div class="col text-center">Balls</div>
        <div class="col text-center">SR</div>
      </div>
      <div class="row item" ng-class="{ 'active-player': s.onStrike === s.bats.one}">
        <div class="col col-33">
          {{ s.bats.one.name }}
          <span ng-if="s.onStrike === s.bats.one">*</span>
        </div>
        <div class="col text-center">{{ s.bats.one.runs }}</div>
        <div class="col text-center col-10">{{ s.bats.one.fours }}</div>
        <div class="col text-center col-10">{{ s.bats.one.sixes }}</div>
        <div class="col text-center">{{ s.bats.one.balls }}</div>
        <div class="col text-center">{{ s.bats.one.sr }}</div>
      </div>
      <div class="row item" ng-class="{ 'active-player': s.onStrike === s.bats.two}">
        <div class="col col-33">
          {{ s.bats.two.name }}
          <span ng-if="s.onStrike === s.bats.two">*</span>
        </div>
        <div class="col text-center">{{ s.bats.two.runs }}</div>
        <div class="col text-center col-10">{{ s.bats.two.fours }}</div>
        <div class="col text-center col-10">{{ s.bats.two.sixes }}</div>
        <div class="col text-center">{{ s.bats.two.balls }}</div>
        <div class="col text-center">{{ s.bats.two.sr }}</div>
      </div>
    </div>
    <div class="list">
      <div class="row bowl-header item-divider">
        <div class="col col-33">Bowler</div>
        <div class="col text-center">O</div>
        <div class="col text-center">M</div>
        <div class="col text-center">R</div>
        <div class="col text-center">W</div>
        <div class="col text-center">Econ</div>
      </div>
      <div class="row item">
        <div class="col col-33">{{ s.bowler.name }}</div>
        <div class="col text-center">{{ s.bowler.o }}</div>
        <div class="col text-center">{{ s.bowler.m }}</div>
        <div class="col text-center">{{ s.bowler.r }}</div>
        <div class="col text-center">{{ s.bowler.w }}</div>
        <div class="col text-center">{{ s.bowler.econ }}</div>
      </div>
    </div>
    <div class="list">
      <div class="row item-divider current-over">
        <div class="col col-33">This Over</div>
        <div class="col">
          <span ng-repeat="delivery in s.over track by $index">
            {{ delivery.runs }}<sup>{{ delivery.extraType }}</sup>
            <i ng-if="delivery.runs === ''" class="icon ion-record size-14"></i>
          </span>
        </div>
      </div>
    </div>
  </ion-content>
  
  <div class="fixed-outside">
    <div class="row">
      <div class="col score-button" ng-click="s.score(0)">
        <i class="icon ion-record size-14"></i>
      </div>
      <div class="col score-button" ng-click="s.score(1)">1</div>
      <div class="col score-button" ng-click="s.score(2)">2</div>
      <div class="col score-button" ng-click="s.score(3)">3</div>
      <div class="col score-button" ng-click="s.score(4)">4</div>
    </div>
    <div class="row">
      <div class="col score-button" ng-class="{ 'end-of-over': s.wd }"  ng-click="s.wd = !s.wd">wd</div>
      <div class="col score-button" ng-class="{ 'end-of-over': s.nb }"  ng-click="s.nb = !s.nb">nb</div>
      <div class="col score-button" ng-class="{ 'end-of-over': s.lb }"  ng-click="s.lb = !s.lb">lb</div>
      <div class="col score-button" ng-class="{ 'end-of-over': s.b }"  ng-click="s.b = !s.b">b</div>
      <div class="col score-button" ng-click="s.score(6)">6</div>
    </div>
    <div class="row">
      <div class="col score-button wicket-button" ng-click="s.score(0,1)">W</div>
      <div class="col score-button" ng-click="s.score(5)">5</div>
      <div class="col score-button"><i class="icon ion-ios-undo"></i></div>
      <div class="col score-button"><i class="icon ion-more"></i></div>
      <div class="col score-button" ng-class="{ 'end-of-over': s.overFinished }" ng-click="s.newOver()">over</div>
    </div>
  </div>
</ion-view>