<ion-view view-title="Chingford 255-3, 52 overs">
  <ion-content>
    <div class="card">
      <div class="item item-divider text-center">
        Walthamstow 60-1, 12.5 overs
      </div>
      <div class="item item-text-wrap text-center">
        Need 34 from 5 overs at 3.2 per over
      </div>
    </div>
    <div class="list">
      <div class="row bat-header item-divider">
        <div class="col col-33">Bat</div>
        <div class="col text-center">Runs</div>
        <div class="col text-center col-10">4s</div>
        <div class="col text-center col-10">6s</div>
        <div class="col text-center">Balls</div>
        <div class="col text-center">SR</div>
      </div>
      <div class="row item">
        <div class="col col-33">{{ s.bats.one.name }}</div>
        <div class="col text-center">{{ s.bats.one.score }}</div>
        <div class="col text-center col-10">22</div>
        <div class="col text-center col-10">62</div>
        <div class="col text-center">101</div>
        <div class="col text-center">236</div>
      </div>
      <div class="row item">
        <div class="col col-33">{{ s.bats.two.name }}</div>
        <div class="col text-center">{{ s.bats.two.score }}</div>
        <div class="col text-center col-10">2</div>
        <div class="col text-center col-10">6</div>
        <div class="col text-center">101</div>
        <div class="col text-center">236</div>
      </div>
    </div>
    <div class="list">
      <div class="row bowl-header item-divider">
        <div class="col col-33">Bowler</div>
        <div class="col text-center">O</div>
        <div class="col text-center">M</div>
        <div class="col text-center">R</div>
        <div class="col text-center">W</div>
        <div class="col text-center">ER</div>
      </div>
      <div class="row item">
        <div class="col col-33">Bowler</div>
        <div class="col text-center">10.2</div>
        <div class="col text-center">2</div>
        <div class="col text-center">123</div>
        <div class="col text-center">5</div>
        <div class="col text-center">6.7</div>
      </div>
    </div>
    <div class="list">
      <div class="row item-divider current-over">
        <div class="col col-33">Current Over</div>
        <div class="col">
          <span ng-repeat="ball in s.balls track by $index">
                {{ ball }}
          </span>
        </div>
      </div>
    </div>
  </ion-content>
  
  <div class="fixed-outside">
    <div class="row">
      <div class="col" ng-click="s.score(0)"><i class="icon ion-record size-14"></i></div>
      <div class="col" ng-click="s.score(1)">1</div>
      <div class="col" ng-click="s.score(2)">2</div>
      <div class="col" ng-click="s.score(3)">3</div>
      <div class="col" ng-click="s.score(4)">4</div>
    </div>
    <div class="row">
      <div class="col">wd</div>
      <div class="col">nb</div>
      <div class="col">lb</div>
      <div class="col">b</div>
      <div class="col" ng-click="s.score(6)">6</div>
    </div>
    <div class="row">
      <div class="col" ng-class="{ 'end-of-over': s.overFinished }" ng-click="s.newOver()">over</div>
      <div class="col" ng-click="s.score(0,1)">W</div>
      <div class="col">5</div>
      <div class="col"><i class="icon ion-ios-undo"></i></div>
      <div class="col"><i class="icon ion-more"></i></div>
    </div>
  </div>
</ion-view>