/* Empty. Add your own CSS if you like */
.bar.bar-calm {
    border-color: #00507f;
    background-color: #00507f;
    background-image: linear-gradient(0deg, #00507f, #00507f 50%, transparent 50%);
    color: #fafbfd;
}

.item-divider {
  color: #464a4d;
  background-color: #e3e7ea;
}

.fixed-outside{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align:center;
}

.fixed-outside .row {
  padding: 0;
  margin: 0;
}

.score-button {
  height: 20vw;
  text-align: center;
  border: 1px solid #e3e7ea;
  font-size: 8vw;
  line-height: 20vw;
  padding: 0;
  background-color: #fafbfd;
  color: #9397a0;
}

.current-over {
  color: #fafbfd;
  background-color: #196795;
  font-size: 16px;
  font-weight: bold;
}

.size-14 {
    font-size: 14px;
}

.bat-header, .bowl-header {
  font-size: 66%;
}

.list {
  margin-bottom: 0;
}

.row {
  padding-top: 0;
}

.end-of-over {
  background-color: #b51800 !important;
  color: #fafbfd !important;
}

.match-equation {
  background-color: #b51800;
  color: #fafbfd;
  font-weight: bold;
  padding: 10px;
}

